# Database
DB_USER=root
DB_PASSWORD=root
DB_NAME=thevideoclub
DB_PORT=5432

# Keycloak
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HTTP_PORT=8081
KEYCLOAK_REALM_NAME=thevideoclub

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:${DB_PORT}/${DB_NAME}
SPRING_DATASOURCE_USERNAME=${DB_USER}
SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:${KEYCLOAK_HTTP_PORT}/realms/${KEYCLOAK_REALM_NAME}
